.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    background: white;
    width: 80%;
    max-width: 900px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    max-height: 90vh;
    /* Limit the overall modal height */
    overflow-y: auto;
    /* Enable vertical scrolling for the whole modal */
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.description-container {
    width: 50%;
    text-align: justify;
}

.project-heading-text {
    text-align: center;
    margin: .8em;
}

.p-description {
    font-size: .8em;
    margin: .8em;
    color: #666;
}

.skills-tools-container {
    display: flex;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(65, 63, 85, 0.1);
    margin: 0.5em;
}

.skills-tools-heading {
    text-align: center;
    font-weight: bold;
    font-style: normal;
    color: #000;
}

.skills-tools-text {
    font-size: 0.7em;
    text-align: justify;
    padding: 0.5em;
    font-style: italic;
    color: #666;
}

.warning-list {
    color: #d9534f;
    /* Bootstrap's danger color */
    font-weight: bold;
    font-size: x-small;
    margin: 10px 0;
    padding-left: 0;
}

.warning-list ul {
    list-style-position: inside;
    padding-left: 0;
}

/* OR if removing list styling */
.warning-list ul {
    list-style: none;
    padding-left: 0;
}

.warning-list li {
    margin-bottom: 5px;
}

.p-image {
    width: 50%;
    max-height: 100%;
    height: auto;
    object-fit: contain;
    /* Use 'contain' to fit the whole image without cropping */
}

@media only screen and (max-width: 768px) {
    .modal-main {
        position: fixed;
        background: white;
        width: 80%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        align-self: center;
        flex-direction: column;
        max-height: 90vh;
        /* Crucial for mobile view */
        overflow-y: auto;
        /* The image and description containers now scroll together inside the modal */
    }

    .description-container {
        width: 90%;
        text-align: justify;
    }

    .p-image {
        width: 90%;
        max-height: 50vh;
        /* Set a specific max height for mobile, e.g., 50% of viewport height */
        object-fit: contain;
    }
}